html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
header {
    padding: 1em 0 0.5em 0;
    position: relative;
}
/* desaign.css */


.clock {
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
    letter-spacing: 2px;
}

.leiras {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    padding: 32px;
    max-width: 700px;
    margin: 40px auto;
    color: #fff;
    font-size: 1.2rem;
}

.portfolio-btn {
    background: none;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: color 0.2s;
    display: inline-block;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background: none;
    color: #2196f3;
    border: none;
    outline: none;
}


