@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

a {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    text-decoration: none;
    font: inherit;
    box-sizing: border-box;
}