/* header.css */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    text-decoration: none;
    font: inherit;
    box-sizing: border-box;
}

nav {
    width: 100%;
    background: #222;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
}

.nav-item {
    display: block;
    padding: 16px 32px;
    color: #fff;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    transition: background 0.2s, color 0.2s;
    margin-right: 2px;
}

.nav-item:hover {
    background-color: #333;
    color: #2196f3;
}

.nav-item.active {
    background-color: #444 !important; /* szürke háttér */
    color: #fff !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
   background-blend-mode: multiply;
}
